/* modal */
.overlay {
    display: block;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.paper{
    cursor: pointer;
}
.active-page{
    border: 1px solid #DC56C5;
    padding: 5px 12px;
    color: #DC56C5;
}
input{
    color: white;
}
.modal {
    width: 750px;
    height: 800px;
    overflow-y: scroll;
    border-radius: 300px 0;
    background: #FFF2FD;
    position: relative;
    padding: 62px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 41px;
    padding-bottom: 200px;
    padding-top: 200px;
}

.modal-logo {
    width: 132px;
    height: 132px;
align-self: center;
}

.modal-box {
    display: flex;
    column-gap: 60px;
    justify-content: space-between;
}

.modal-box-poster {
    width: 360px;
    height: 650px;
}

.modal-box-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.modal-box-list-item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.modal-box-list-item-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #dc56c5;
}

.modal-box-list-item-desc {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #0e0e0e;
}



.modal-box-list-item-buy {
    background: #4c00fe;
    padding: 10px 19px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.modal-box-list-item-buy:not(:last-child) {
    margin-bottom: 30px;
}

.modal-box-more {
    border: 1px solid #4C00FE;
    padding: 10px 16px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #4c00fe;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    align-self: center;
}




* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0E0E0E;
}

.title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: #dc56c5;
    height: 122px;
    width: 589px;
    margin-top: 40px;
}

.nav {
    height: 446px;
    background-image: url('/tickets/src/assets/pic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-top {
    display: flex;
    gap: 200px;
}

.main-div {
    margin-left: 173px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 181px;
    gap: 70px;
}

.card-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #dc56c5;
}

.data-card {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.card-place {

    color: #fff;
    text-align: center;
}
.card-img{
    width: 180px;
    height: 227px;
}
.card {
    width: 195px;
    justify-content: center;
}

.search {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 270px;
    height: 40px;
}

.search-choose {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #939393;
    align-items: center;
}

.choose {
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 270px;
    height: 40px;
    color: #939393;
}

.paper {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.paper1 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-avtor {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #939393;
}
